node_modules/
ios/App/Pods/
ios/App/App.xcworkspace/xcuserdata/
ios/App/build/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
*.keystore
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
ios/App/App/public/
ios/App/App/capacitor.config.json
ios/App/App/config.xml
